* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(11, 46, 21, 0.18);
}

.brand {
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
    font-weight: bold;
}

.head {
    margin-bottom: 20px;
    font-weight: bold;
    padding-left: 10%;
    color: rgba(27, 30, 33, 0.79);
}

.lexer-main {
    padding-top: 20px;
    padding-bottom: 100px;
}

.submit {
    margin-top: 10px;
}

.table-body {
    height: 580px;
    overflow-y: auto;
}

.table-body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #6c757d;
}

.table-body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.table-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(85, 85, 85, 0.83);
}

.table-body::-webkit-scrollbar-corner {
    background-color: #6c757d;
}

.footer {
    background: #343a40;
    color: #eee;
    font-size: 11px;
    padding: 5px;
    width: 100%;
}
